PORT=5000
MONGO_URI=your_mongodb_connection_string

JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_refresh_secret

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key

SENDGRID_API_KEY=your_sendgrid_key
EMAIL_FROM=your_email

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

RESEND_API_KEY=re_2trbBRRH_8qJMo9PSv7sRdaqiUFf7EwEq
EMAIL_FROM=VoltCart <onboarding@resend.dev>
CLIENT_URL=http://localhost:3000